app:
    name: go-gin
    host: localhost:3000
    mode: debug

database:
    drive: mysql
    host: localhost
    port: 3306
    dbname: basic
    username: root
    password: root
    maxIdleConns: 
    maxOpenConns: 
    connMaxLifetime:

redis:
    host: localhost
    port: 6379
    password: 
    dbname: 